*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
Informe/*.aux
Informe/*.fdb_latexmk
Informe/*.fls
Informe/*.log
Informe/*.out
Informe/*.synctex.gz
Informe/*.toc

!main.pdf
!Informe/main.pdf
